<% if user_signed_in? %>
	<p><%=  @user.name %>
	<%=  @user.lastname %></p>
	<%= render @publicacion %>
	<p>Crear una nueva Publicacion <%= link_to "Publicar Propiedad", new_publicacion_path %></p>
	<p><%= link_to 'My Conversations', :conversations %></p>
	<%= link_to "Cerrar Sesión", destroy_user_session_path, method: :delete %>
	
<%else%>
	<%= link_to "Iniciar Sesión", new_user_session_path %>
<%end%>
