
<%= form_tag publicacions_path, :method => :get do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>
<% if user_signed_in? %>
	<p><%=  @user.name %>
	<%=  @user.lastname %></p>
<%end%>
	<h1>Listado de Propiedades</h1>
	<table>
	<thead>
	<tr>
      <th>Titulo</th>
      <th>Descripcion</th>
      <th>Precio</th>
      <th></th>
      <th></th>
      <th></th>
      </tr>
    <%= render @publicacion %>
  </thead>
  </table>
  <% if user_signed_in? %>
  <p><%= link_to "Mis Propiedades", {:controller=>"publicacions", :action=>"index"} %></p>
	<p><%= link_to "Publicar Propiedad", new_publicacion_path %></p>
	<p><%= link_to 'Bandeja de Entrada', :conversations %></p>
	<%= link_to "Cerrar Sesión", destroy_user_session_path, method: :delete %>
	
<%else%>
	<p><%= link_to "Iniciar Sesión", new_user_session_path %></p>
	<p><%= link_to "Registrarse", new_user_registration_path %></p>
<%end%>
