<style>
 #acceso{
    margin-left: 540px;
 }
</style>

<div id="content">
<div class="container">
    <div>
        <div id="main">
        <center>
        <h1 class="page-header">Acceder</h1>
        </center>
           <div class="row">
        <div class="span4" id="acceso">
<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div class="control-group">
        <label class="control-label">
             Email
         <span class="form-required" title="Este campo es obligatorio.">*</span>
         </label>
         <div class="controls">
         <%= f.email_field :email, label: false,:autofocus => true %>
         </div>
      </div>

      <div class="control-group">
        <label class="control-label">
             Contraseña
         <span class="form-required" title="Este campo es obligatorio.">*</span>
         </label>
         <div class="controls">
         <%= f.password_field :password, label: false %>
         </div>
      </div>
    <% if devise_mapping.rememberable? -%>
    <div><%= f.check_box :remember_me %> <%= f.label :remember_me , "Recordarme"%></div>
  <% end -%>

  <div><%= f.submit "Ingresar", class: "btn btn-primary arrow-right"%></div>
<% end %>

<%= render "devise/shared/links" %>
</div>
</div>
</div>
</div>
</div>
</div>