<h1>Listado de Propiedades</h1>

<table>
  <thead>
    <tr>
      <th>Piezas</th>
      <th>Direccion</th>
      <th>Precio</th>
      <th>Baños</th>
      <th>Estacionamiento</th>
      <th>Tipo</th>
      <th>Ciudad</th>
      <th>Region</th>
      <th>Comparte</th>
      <th>Md</th>
      <th>Titulo</th>
      <th>Descripcion</th>
      <th>User</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @publicacion.each do |publicacion| %>
      <tr>
        <td><%= publicacion.pieza %></td>
        <td><%= publicacion.direccion %></td>
        <td><%= publicacion.precio %></td>
        <td><%= publicacion.bano %></td>
        <% if publicacion.estacionamiento == false %>
        <td>Sin Estacionamiento</td>
        <% else %>
        <td>Con Estacioniemto</td>
        <% end %>
        <td><%= publicacion.tipo %></td>
        <td><%= publicacion.ciudad %></td>
        <td><%= publicacion.region %></td>
        <td><%= publicacion.comparte %></td>
        <td><%= publicacion.md %></td>
        <td><%= publicacion.titulo %></td>
        <td><%= publicacion.descripcion %></td>
        <td><%= @user.email %></td>
        <td><%= link_to 'Mostrar', publicacion %></td>
        <td><%= link_to 'Editar', edit_publicacion_path(publicacion) %></td>
        <td><%= link_to 'Eliminar', publicacion, method: :delete, data: { confirm: '¿Estás Seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Publicar Propiedad', new_publicacion_path %>
<%= link_to 'Volver', :back %>
