<div id="content">
<div class="container">

    <div id="main">
        <div class="row">
            <div class="span9">
                <h1 class="page-header">Propiedades</h1>

                <div class="properties-rows">
    <div class="row">
        <% @publicacion.each do |publicacion| %>    
        <div class="property span9">
            <div class="row">
                <div class="image span3">
                    <div class="content">
                    <%=link_to "",publicacion%>
                    <%= image_tag publicacion.smallImage %> 
                    </div><!-- /.content -->
                </div><!-- /.image -->

                <div class="body span6">
                    <div class="title-price row">
                        <div class="title span4">
                            <h2><%= link_to publicacion.direccion, publicacion %></h2>
                        </div><!-- /.title -->

                        <div class="price">
                            $<%= publicacion.precio %>
                        </div><!-- /.price -->
                    </div><!-- /.title -->

                    <div class="location"><%= publicacion.ciudad %></div><!-- /.location -->
                    <p>
                        <%= truncate publicacion.descripcion, length: 135 %>
                    </p>
                    <div class="area">
                        <span class="key">Superficie(mts<sup>2</sup>):</span><!-- /.key -->
                        <span class="value"><%= publicacion.superficie %></span><!-- /.value -->
                    </div><!-- /.area -->
                    <div class="bedrooms">
                    <div class="content"><%= publicacion.pieza %></div>
                    </div><!-- /.bedrooms -->
                    <div class="bathrooms">
                    <div class="content"><%= publicacion.bano %></div>
                    </div><!-- /.bathrooms -->
                     <%=link_to "Editar",edit_publicacion_path(publicacion), { :class=>"btn btn-primary" }%>
                    <a href="listing-grid.html"><button type="button" class="btn btn-primary">Activar</button></a>
                    <%=link_to "Eliminar", {method: :delete} , data: { confirm: '¿Eliminar Propiedad?' }, :class=>"btn btn-danger" %>
                </div><!-- /.body -->
            </div><!-- /.property -->
        </div><!-- /.row -->
         <% end %>
    </div><!-- /.row -->
</div><!-- /.properties-rows -->
                <div class="pagination pagination-centered">
    <ul>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li class="active"><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">next</a></li>
        <li><a href="#">last</a></li>
    </ul>
</div><!-- /.pagination -->            </div>
        </div>
    </div>
</div>

    </div><!-- /#content -->
</div><!-- /#wrapper-inner -->

<%
=begin
%>
<div id="main_content">
    
    
    <div id="admin_header">
      <div class="admin_index_title">Mis Publicaciones</div>        
        </div>
<div class="table_grid">
                <table cellspacing="0" cellpadding="0">
                    <tr>
                        <b><th style="width:auto;"class="pink"><p class="pink">Titulo</p></th>
                        <th style="width:auto;"class="pink"><p class="pink">Valor</p></th>
                        <th style="width:auto;"class="pink"><p class="pink">Editar</p></th>
                        <th style="width:auto;"class="pink"><p class="pink">Eliminar</p></th>
                        </b>
                    </tr>
  <tbody>
    <% @publicacion.each do |publicacion| %>
      <tr class="even">
        <td><%= link_to publicacion.titulo, publicacion %></td>
        <td><%= publicacion.precio %></td>
        <td><%=link_to( image_tag("images/adminicons/edit.png", :alt => "Edit", :title => "Edit", :size => "22x22"), edit_publicacion_path(publicacion)) %></td>
         <td><%= link_to (image_tag "images/adminicons/delete.png", :alt => "Eliminar", :title => "Eliminar", :size => "24x24"), publicacion, method: :delete, data: { confirm: '¿Estás Seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<div class="right_buttons">
    <div class="right_button">
      <%= link_to 'Publicar Propiedad', new_publicacion_path %>
    </div>
    <div class="right_button">
      <%= link_to 'Volver', :back %>
    </div>
</div>


</div>
<%
=end
%>