<!-- CONTENT -->
            <div id="content">
<div class="container">

    <div id="main">
        <div class="row">
            <div class="span9">
                <h1 class="page-header">Propiedades Disponibles</h1>

                <div class="properties-rows">
<div class="filter">
    <form action="http://html.realia.byaviators.com/listing-rows-filter.html?" method="get" class="form-horizontal">
     <div class="btn-group">
        <div class="control-group">
            <label class="control-label" for="inputSortBy">
                Ordenar por
                <span class="form-required" title="This field is required.">*</span>
            </label>
            <div class="controls">
                <div class="btn btn-default">
                <%= sort_link(@search, :precio, "Precio") %>
                </div>
                <div class="btn btn-default">
                <%= sort_link(@search, :created_at, "Fecha",  html_options: { :class=>"btn btn-primary btn-large list-your-property arrow-right" }) %>
                </div>
            </div><!-- /.controls -->
        </div><!-- /.control-group -->
        </div>
    </form>
</div><!-- /.filter -->
</div><!-- /.properties-rows -->                
<div class="properties-rows">
    <div class="row">
      <% if @publicacion.size >0 %>
      <div id="propiedad_publicada">
        <%= render @publicacion %>
      </div>
      <% else %>
        <h2>No existen coincidencias</h2>
      <% end %>
    </div><!-- /.row -->
</div><!-- /.properties-rows -->
  <div class="pagination pagination-centered" id="paginator">
   <%= paginate @publicacion, :remote => true %> 
  </div>           
</div>
            

                <div class="sidebar span3">
                <h2>Filtrar Búsqueda</h2>
<div class="property-filter">
                        <div class="content">
                        <%= simple_form_for @search, :url => search_publicacions_path,
    :method => 'get' do |f| %>
                                <div class="location control-group">
                                    <label class="control-label" for="inputLocation">
                                        Comuna
                                    </label>
                                    <div class="controls">
                                        <%= f.input :ciudad_eq, collection: [ "Puerto Montt", "Viña Del Mar", "Valparaiso"], label: false %>
                                    </div><!-- /.controls -->
                                </div><!-- /.control-group -->

                                <div class="type control-group">
                                    <label class="control-label" for="inputType">
                                        Tipo
                                    </label>
                                    <div class="controls">
                                        <%= f.input :tipo_eq, collection: [ "Departamento", "Casa", "Pension", "Departamento Compartido"], label: false %>
                                    </div><!-- /.controls -->
                                </div><!-- /.control-group -->

                                <div class="beds control-group">
                                    <label class="control-label" for="inputBeds">
                                        Dormitorios
                                    </label>
                                    <div class="controls">
                                        <%= f.input :pieza_eq, collection: 1..4, label: false %>
                                    </div><!-- /.controls -->
                                </div><!-- /.control-group -->

                                <div class="baths control-group">
                                    <label class="control-label" for="inputBaths">
                                        Baños
                                    </label>
                                    <div class="controls">
                                        <%= f.input :bano_eq, collection: 1..3, label: false %>
                                    </div><!-- /.controls -->
                                </div><!-- /.control-group -->

                                <div class="price-from control-group">
                                    <label class="control-label" for="inputPriceFrom">
                                        Price from
                                    </label>
                                    <div class="controls">
                                          <%= f.input :precio_gteq, input_html: { id: 'inputPriceFrom', name: 'inputPriceFrom' } %>
                                    </div><!-- /.controls -->
                                </div><!-- /.control-group -->

                                <div class="price-to control-group">
                                    <label class="control-label" for="inputPriceTo">
                                        Price to
                                    </label>
                                    <div class="controls">
                                        <%= f.input :precio_lteq, input_html: { id: 'inputPriceTo', name: 'inputPriceTo' } %>
                                    </div><!-- /.controls -->
                                </div><!-- /.control-group -->

                                <div class="price-value">
                                    <span class="from"></span><!-- /.from -->
                                    -
                                    <span class="to"></span><!-- /.to -->
                                </div><!-- /.price-value -->

                                <div class="price-slider">
                                </div><!-- /.price-slider -->
                                
                                <div class="form-actions">
                                    <%= f.button :submit, "Buscar Ahora!", class: "btn btn-primary btn-large" %>
                                </div><!-- /.form-actions -->
                            <% end %>
                        </div><!-- /.content -->
                    </div><!-- /.property-filter -->
            </div>
        </div>
    </div>
</div>

    </div><!-- /#content -->
</div><!-- /#wrapper-inner -->
<%
=begin


<div class="column1">
<% if @comuna %>
<h2> La Comuna ES: <%= @comuna %></h2>
<% end %>
<h1>Listado de Propiedades</h1>
<%= search_form_for(@search,url: search_publicacions_path,html: { method: :get }) do |f| %>
    <div class="field">
    <%= f.label :pieza_gteq,"Numero de Piezas entre" %><br>
    <%= f.number_field :pieza_gteq %>
    <%= f.label :pieza_lteq, "y" %>
    <%= f.number_field :pieza_lteq %>    
  </div>
  <div class="field">
    <%= f.label :bano_gteq,"Numero de Baños entre" %><br>
    <%= f.number_field :bano_gteq %>
    <%= f.label :bano_lteq, "y" %>
    <%= f.number_field :bano_lteq %>    
  </div>
    <div class="field">
    <%= f.label :precio_gteq,"Precio entre" %><br>
    <%= f.number_field :precio_gteq %>
    <%= f.label :precio_lteq, "y" %>
    <%= f.number_field :precio_lteq %>    
  </div>
  <%= f.hidden_field :tags_list, :value => '1' %>
  <%= f.submit "Buscar" %>
<% end %>
<% if @publicacion.size >0 %>
<div id="main_content">
<div id="admin_header">
<h1>Propiedades encontradas</h1>
<div class="table_grid">
<table cellspacing="0" cellpadding="0">
  <thead>
  <tr>
       <th style="width:auto;"class="pink"><p class="pink">Titulo</p></th>
      <th style="width:auto;"class="pink"><p class="pink"><%=sort_link(@search, :precio, "Pecio") %></p></th>
      <th style="width:auto;"class="pink"><p class="pink"><%=sort_link(@search, :created_at, "Fecha Publicación")%></p></th>
      </tr>
 </thead>
 <tbody id="publicacions">
 <%= render @publicacion %>
 </tbody>
</table>
   <div id="paginator" class="pagination">
   <%= paginate @publicacion, :remote => true %> 
   </div>
  <% else %>
  <h2>No existen coincidencias</h2>
  <% end %>
  <% if user_signed_in? %>
  <div class="right_buttons">
    <div class="right_button">
        <%= link_to "Mis Propiedades", {:controller=>"publicacions", :action=>"index"} %>
    </div>
    <div class="right_button">
  <%= link_to "Publicar Propiedad", new_publicacion_path %>
  </div>
  <div class="right_button">
  <%= link_to 'Bandeja de Entrada', :conversations %>
  </div>
  <div class="right_button">
  <%= link_to "Cerrar Sesión", destroy_user_session_path, method: :delete %>
  </div>
<%else%>
<div class="right_button">
  <%= link_to "Iniciar Sesión", new_user_session_path %>
  </div>
  <div class="right_button">
  <%= link_to "Registrarse", new_user_registration_path %>
  </div>
<%end%>
</div>
 </div>
  </div>
  <%
=end
%>

<%
=begin
%>
<div class="column1">
<h1>Listado de Propiedades</h1>
<%= search_form_for(@search,url: search_publicacions_path,html: { method: :get }) do |f| %>
    <div class="field">
    <%= f.label :pieza_gteq,"Numero de Piezas entre" %><br>
    <%= f.number_field :pieza_gteq %>
    <%= f.label :pieza_lteq, "y" %>
    <%= f.number_field :pieza_lteq %>    
  </div>
  <div class="field">
    <%= f.label :bano_gteq,"Numero de Baños entre" %><br>
    <%= f.number_field :bano_gteq %>
    <%= f.label :bano_lteq, "y" %>
    <%= f.number_field :bano_lteq %>    
  </div>
    <div class="field">
    <%= f.label :precio_gteq,"Precio entre" %><br>
    <%= f.number_field :precio_gteq %>
    <%= f.label :precio_lteq, "y" %>
    <%= f.number_field :precio_lteq %>    
  </div>
  <%= f.hidden_field :tags_list, :value => '1' %>
  <%= f.submit "Buscar" %>
<% end %>
<% if @publicacion.size >0 %>
<div id="main_content">
<div id="admin_header">
      <div class="admin_index_title">Propiedades Encontradas</div>        
        </div>
        <table>
<div class="table_grid">
  <table cellspacing="0" cellpadding="0">
                    <tr>
      <th style="width:auto;"class="pink"><p class="pink">Titulo</p></th>
      <th style="width:auto;"class="pink"><p class="pink"><%=sort_link(@search, :precio, "Pecio") %></p></th>
      <th style="width:auto;"class="pink"><p class="pink"><%=sort_link(@search, :created_at, "Fecha Publicación")%></p></th>
      </tr>
      <tbody>
      <%= render @publicacion %>
      </tbody>
</table>
   <div id="paginator">
   <%= paginate @publicacion, :remote => true %> 
   </div>
  <% else %>
  <h2>No existen coincidencias</h2>
  <% end %>
  <% if user_signed_in? %>
  <div class="right_buttons">
    <div class="right_button">
        <%= link_to "Mis Propiedades", {:controller=>"publicacions", :action=>"index"} %>
    </div>
    <div class="right_button">
  <%= link_to "Publicar Propiedad", new_publicacion_path %>
  </div>
  <div class="right_button">
  <%= link_to 'Bandeja de Entrada', :conversations %>
  </div>
  <div class="right_button">
  <%= link_to "Cerrar Sesión", destroy_user_session_path, method: :delete %>
  </div>
<%else%>
<div class="right_button">
  <%= link_to "Iniciar Sesión", new_user_session_path %>
  </div>
  <div class="right_button">
  <%= link_to "Registrarse", new_user_registration_path %>
  </div>
<%end%>
</div>
</div>
</div>
</div>

  <%
=end
%>