<div class="column1">
<h1>Listado de Propiedades</h1>
<%= search_form_for(@search,url: search_publicacions_path,html: { method: :get }) do |f| %>
    <div class="field">
    <%= f.label :pieza_gteq,"Numero de Piezas entre" %><br>
    <%= f.number_field :pieza_gteq %>
    <%= f.label :pieza_lteq, "y" %>
    <%= f.number_field :pieza_lteq %>    
  </div>
  <div class="field">
    <%= f.label :bano_gteq,"Numero de Baños entre" %><br>
    <%= f.number_field :bano_gteq %>
    <%= f.label :bano_lteq, "y" %>
    <%= f.number_field :bano_lteq %>    
  </div>
    <div class="field">
    <%= f.label :precio_gteq,"Precio entre" %><br>
    <%= f.number_field :precio_gteq %>
    <%= f.label :precio_lteq, "y" %>
    <%= f.number_field :precio_lteq %>    
  </div>
  <%= f.hidden_field :tags_list, :value => '1' %>
  <%= f.submit "Buscar" %>
<% end %>
<% if @publicacion.size >0 %>
<div id="main_content">
<div id="admin_header">
<h1>Propiedades encontradas</h1>
<div class="table_grid">
<table cellspacing="0" cellpadding="0">
  <thead>
  <tr>
       <th style="width:auto;"class="pink"><p class="pink">Titulo</p></th>
      <th style="width:auto;"class="pink"><p class="pink"><%=sort_link(@search, :precio, "Pecio") %></p></th>
      <th style="width:auto;"class="pink"><p class="pink"><%=sort_link(@search, :created_at, "Fecha Publicación")%></p></th>
      </tr>
 </thead>
 <tbody id="publicacions">
 <%= render @publicacion %>
 </tbody>
</table>
   <div id="paginator" class="pagination">
   <%= paginate @publicacion, :remote => true %> 
   </div>
  <% else %>
  <h2>No existen coincidencias</h2>
  <% end %>
  <% if user_signed_in? %>
  <div class="right_buttons">
    <div class="right_button">
        <%= link_to "Mis Propiedades", {:controller=>"publicacions", :action=>"index"} %>
    </div>
    <div class="right_button">
  <%= link_to "Publicar Propiedad", new_publicacion_path %>
  </div>
  <div class="right_button">
  <%= link_to 'Bandeja de Entrada', :conversations %>
  </div>
  <div class="right_button">
  <%= link_to "Cerrar Sesión", destroy_user_session_path, method: :delete %>
  </div>
<%else%>
<div class="right_button">
  <%= link_to "Iniciar Sesión", new_user_session_path %>
  </div>
  <div class="right_button">
  <%= link_to "Registrarse", new_user_registration_path %>
  </div>
<%end%>
</div>
 </div>
  </div>


<%
=begin
%>
<div class="column1">
<h1>Listado de Propiedades</h1>
<%= search_form_for(@search,url: search_publicacions_path,html: { method: :get }) do |f| %>
    <div class="field">
    <%= f.label :pieza_gteq,"Numero de Piezas entre" %><br>
    <%= f.number_field :pieza_gteq %>
    <%= f.label :pieza_lteq, "y" %>
    <%= f.number_field :pieza_lteq %>    
  </div>
  <div class="field">
    <%= f.label :bano_gteq,"Numero de Baños entre" %><br>
    <%= f.number_field :bano_gteq %>
    <%= f.label :bano_lteq, "y" %>
    <%= f.number_field :bano_lteq %>    
  </div>
    <div class="field">
    <%= f.label :precio_gteq,"Precio entre" %><br>
    <%= f.number_field :precio_gteq %>
    <%= f.label :precio_lteq, "y" %>
    <%= f.number_field :precio_lteq %>    
  </div>
  <%= f.hidden_field :tags_list, :value => '1' %>
  <%= f.submit "Buscar" %>
<% end %>
<% if @publicacion.size >0 %>
<div id="main_content">
<div id="admin_header">
      <div class="admin_index_title">Propiedades Encontradas</div>        
        </div>
        <table>
<div class="table_grid">
  <table cellspacing="0" cellpadding="0">
                    <tr>
      <th style="width:auto;"class="pink"><p class="pink">Titulo</p></th>
      <th style="width:auto;"class="pink"><p class="pink"><%=sort_link(@search, :precio, "Pecio") %></p></th>
      <th style="width:auto;"class="pink"><p class="pink"><%=sort_link(@search, :created_at, "Fecha Publicación")%></p></th>
      </tr>
      <tbody>
      <%= render @publicacion %>
      </tbody>
</table>
   <div id="paginator">
   <%= paginate @publicacion, :remote => true %> 
   </div>
  <% else %>
  <h2>No existen coincidencias</h2>
  <% end %>
  <% if user_signed_in? %>
  <div class="right_buttons">
    <div class="right_button">
        <%= link_to "Mis Propiedades", {:controller=>"publicacions", :action=>"index"} %>
    </div>
    <div class="right_button">
  <%= link_to "Publicar Propiedad", new_publicacion_path %>
  </div>
  <div class="right_button">
  <%= link_to 'Bandeja de Entrada', :conversations %>
  </div>
  <div class="right_button">
  <%= link_to "Cerrar Sesión", destroy_user_session_path, method: :delete %>
  </div>
<%else%>
<div class="right_button">
  <%= link_to "Iniciar Sesión", new_user_session_path %>
  </div>
  <div class="right_button">
  <%= link_to "Registrarse", new_user_registration_path %>
  </div>
<%end%>
</div>
</div>
</div>
</div>

  <%
=end
%>
