

<style>
#map-canvas {
height: 300px;
  width: 50%;    

  border: 1px solid #999;
  -moz-box-shadow:    0px 0px 5px #ccc;
  -webkit-box-shadow: 0px 0px 5px #ccc;
  box-shadow:         0px 0px 5px #ccc;
      }
    </style>
    <script>
function initialize() {
  var lat= <%= @publicacion.latitude %>;
  var log= <%= @publicacion.longitude %>;
  var myLatlng = new google.maps.LatLng(lat,log);
  var mapOptions = {
    zoom: 16,
    center: myLatlng
  }
  var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

  var marker = new google.maps.Marker({
      position: myLatlng,
      map: map,
  });
}
google.maps.event.addDomListener(window, 'load', initialize);

    </script>
<div class="column4">
  <div class="title"><%= @publicacion.titulo %></div>
  </div>
<p>
<div class="column2" style="background-color:#f3f5f6; margin-left:5px;">

          <div class="big_pic"><%= image_tag "images/big_pic.jpg", :title => "", :size => "282x212", :class => "img_big_pic"%></div>
            
            <div class="pictures_thumbs">
            <h3>Im치genes de la Propiedad:</h3>
            <% for attachment in @publicacion.attachments %>
            <a href="#"><%= image_tag attachment.file_url, :title => "", :size => "104x78", :class => "img_thumb"%></a>
              <% end %>
              </div>
              </div>

  <div class="column3">
    <div class="main_text_box">
      <h1>Descripci칩n</h1>
      <p><%= @publicacion.descripcion %></p>
      <div class="title2">Especificaciones:</div> 
            <div class="details_list">
            <ul>
            <li><span>Valor:</span><%= @publicacion.precio %></li>
                <li><span>Regi칩n:</span><%= @publicacion.region %></li>
                <li><span>Ciudad:</span><%= @publicacion.ciudad %></li>
                <li><span>Tipo:</span><%= @publicacion.tipo %></li>
                <li><span>Piezas:</span><%= @publicacion.pieza %></li>
                <li><span>Ba침os:</span><%= @publicacion.bano %></li>
                <li><span>Estacionamiento:</span><%= @publicacion.estacionamiento %></li>
                <li><span>Propiedad Compartida:</span><%= @publicacion.comparte %></li>
                <li><span>Disponible Marzo a Diciembre:</span><%= @publicacion.md %></li>
            
            </ul>
            </div>    
        </div><!-- end of column three -->
    <div id='map-canvas'></div>
<% if current_user.present? %>
  <% if current_user.publicacions.find_by_id(@publicacion.id) == nil %>
     <div style="float:left;">
            <div class="button">
              <%= link_to 'Contactar', {:controller => "conversations", :action => "new", publicacion_id: @publicacion }%>
              <!-- :id => @publicacion.id  -->
            </div>
            </div>
  <% else %>
  <div class="right_buttons">
    <div class="right_button">
      <%= link_to 'Editar', edit_publicacion_path(@publicacion) %>
    </div>
  <% end %>
<%end %>
 <div class="right_button">
      <%= link_to 'Volver', :back %>
    </div>
</div>
