<p id="notice"><%= notice %></p>

<p>
  <strong>Pieza:</strong>
  <%= @publicacion.pieza %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @publicacion.direccion %>
</p>

<p>
  <strong>Precio:</strong>
  <%= @publicacion.precio %>
</p>

<p>
  <strong>Bano:</strong>
  <%= @publicacion.bano %>
</p>

<p>
  <strong>Estacionamiento:</strong>
  <%= @publicacion.estacionamiento %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @publicacion.tipo %>
</p>

<p>
  <strong>Ciudad:</strong>
  <%= @publicacion.ciudad %>
</p>

<p>
  <strong>Region:</strong>
  <%= @publicacion.region %>
</p>

<p>
  <strong>Comparte:</strong>
  <%= @publicacion.comparte %>
</p>

<p>
  <strong>Md:</strong>
  <%= @publicacion.md %>
</p>

<p>
  <strong>Titulo:</strong>
  <%= @publicacion.titulo %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @publicacion.descripcion %>
</p>

<p>
  <strong>User:</strong>
  <%= @publicacion.user_id %>
</p>

<%= link_to 'Edit', edit_publicacion_path(@publicacion) %> |
<%= link_to 'Back', publicacions_path %>
