<script>

function LoadMapProperty() {
    var lat= <%= @publicacion.latitude %>;
    var log= <%= @publicacion.longitude %>;
    var locations = new Array(
        [lat,log]
    );
    var markers = new Array();
    var mapOptions = {
        center: new google.maps.LatLng(lat, log),
        zoom: 14,
        mapTypeId: google.maps.MapTypeId.ROADMAP,
        scrollwheel: false
    };

    var map = new google.maps.Map(document.getElementById('mapa-propiedad'), mapOptions);

    $.each(locations, function(index, location) {
        var marker = new google.maps.Marker({
            position: new google.maps.LatLng(location[0], location[1]),
            map: map,
            icon: ' '
        });

        var myOptions = {
            disableAutoPan: false,
            maxWidth: 0,
            pixelOffset: new google.maps.Size(-146, -190),
            zIndex: null,
            closeBoxURL: "",
            infoBoxClearance: new google.maps.Size(1, 1),
            position: new google.maps.LatLng(location[0], location[1]),
            isHidden: false,
            pane: "floatPane",
            enableEventPropagation: false
        };
        marker.infobox = new InfoBox(myOptions);
        marker.infobox.isOpen = false;

        var myOptions = {
            draggable: true,
            content: '<div class="marker"><div class="marker-inner"></div></div>',
            disableAutoPan: true,
            pixelOffset: new google.maps.Size(-21, -58),
            position: new google.maps.LatLng(location[0], location[1]),
            closeBoxURL: "",
            isHidden: false,
            // pane: "mapPane",
            enableEventPropagation: true
        };
        marker.marker = new InfoBox(myOptions);
        marker.marker.open(map, marker);
        markers.push(marker);

        google.maps.event.addListener(marker, "click", function (e) {
            var curMarker = this;

            $.each(markers, function (index, marker) {
                // if marker is not the clicked marker, close the marker
                if (marker !== curMarker) {
                    marker.infobox.close();
                    marker.infobox.isOpen = false;
                }
            });


            if(curMarker.infobox.isOpen === false) {
                curMarker.infobox.open(map, this);
                curMarker.infobox.isOpen = true;
                map.panTo(curMarker.getPosition());
            } else {
                curMarker.infobox.close();
                curMarker.infobox.isOpen = false;
            }

        });
    });
}

function InitMap() {
    if ($('#mapa-propiedad').length !== 0) {
        google.maps.event.addDomListener(window, 'load', LoadMapProperty);
    }
}
</script>
<div id="wrapper-outer" >
    <div id="wrapper">
        <div id="wrapper-inner">
            <!-- CONTENT -->
            <div id="content"><div class="container">
    <div id="main">
        <div class="row">
            <div class="span9">
                <h1 class="page-header"><%= @publicacion.direccion %></h1>

                <div class="carousel property">
                    <div class="preview">
                        <%= image_tag @publicacion.largeImage, :alt => "" %> 
                    </div><!-- /.preview -->

                    <div class="content">

                        <a class="carousel-prev" href="#">Previous</a>
                        <a class="carousel-next" href="#">Next</a>
                        <ul>
                            <% for attachment in @publicacion.attachments %>
                                <li>
                                    <%= image_tag attachment.file_url(:large), :alt => "" %>
                                </li>
                            <% end %>
                        </ul>
                    </div>
                    <!-- /.content -->
                </div>
                <!-- /.carousel -->

                <div class="property-detail">
                    <div class="pull-left overview">
                        <div class="row">
                            <div class="span3">
                                <h2>Vista General</h2>

                                <table>
                                    <tr>
                                        <th>Precio:</th>
                                        <td>$<%= @publicacion.precio %></td>
                                    </tr>
                                    <tr>
                                        <th>Tipo contrato:</th>
                                        <td><%= @publicacion.contrato %></td>
                                    </tr>
                                    <tr>
                                        <th>Tipo:</th>
                                        <td><%= @publicacion.tipo %></td>
                                    </tr>
                                    <tr>
                                        <th>Ciudad:</th>
                                        <td><%= @publicacion.ciudad %></td>
                                    </tr>
                                    <tr>
                                        <th>Baños:</th>
                                        <td><%= @publicacion.bano %></td>
                                    </tr>
                                    <tr>
                                        <th>Dormitorios:</th>
                                        <td><%= @publicacion.pieza %></td>
                                    </tr>
                                    <tr>
                                        <th>Superficie:</th>
                                        <td><%= @publicacion.superficie %>m<sup>2</sup></td>
                                    </tr>
                                </table>

                                 <h2 style="padding-top: 20px;">Datos de Contacto</h2>

                                <table>
                                    <tr>
                                        <th>Nombre:</th>
                                        <td>Joaquin Gonzalez Nuñez</td>
                                    </tr>
                                    <tr>
                                        <th>E-mail:</th>
                                        <td>joaquin.gonzalez.n@gmail.com</td>
                                    </tr>
                                </table>
                            </div>
                            <!-- /.span2 -->
                        </div>
                        <!-- /.row -->
                    </div>

                    <p><strong><%= @publicacion.descripcion %></strong> </p>

                    <h2>Comodidades Generales</h2>

                    <div class="row">
                        <ul class="span2">
                            <li class="<%= @publicacion.aire == true ? 'checked' : 'plain' %>">
                                Aire Acondicionado
                            </li>
                            <li class="<%= @publicacion.balcon == true ? 'checked' : 'plain' %>">
                                Balcon
                            </li>
                            <li class="<%= @publicacion.calefaccion == true ? 'checked' : 'plain' %>">
                                Calefaccion
                            </li>
                            <li class="<%= @publicacion.piscina == true ? 'checked' : 'plain' %>">
                                Piscina
                            </li>
                            <li class="<%= @publicacion.multiuso == true ? 'checked' : 'plain' %>">
                                Salon Multiuso
                            </li>
                            <li class="<%= @publicacion.spa == true ? 'checked' : 'plain' %>">
                                Spa
                            </li>
                            <li class="<%= @publicacion.computacion == true ? 'checked' : 'plain' %>">
                                Sala Computacion
                            </li>
                            <li class="<%= @publicacion.conserje == true ? 'checked' : 'plain' %>">
                                Conserje
                            </li>
                        </ul>
                        <ul class="span2">
                            <li class="<%= @publicacion.lavado == true ? 'checked' : 'plain' %>">
                                Sala Lavado
                            </li>
                            <li class="<%= @publicacion.cine == true ? 'checked' : 'plain' %>">
                                Cine
                            </li>
                            <li class="<%= @publicacion.estacionamiento == true ? 'checked' : 'plain' %>">
                                Estacionamiento Privado
                            </li>
                            <li class="<%= @publicacion.visita == true ? 'checked' : 'plain' %>">
                                Estacionamiento Visitas
                            </li>
                            <li class="<%= @publicacion.quincho == true ? 'checked' : 'plain' %>">
                                Quincho
                            </li>
                            <li class="<%= @publicacion.juegos == true ? 'checked' : 'plain' %>">
                                Salon de Juegos
                            </li>
                            <li class="<%= @publicacion.cocina == true ? 'checked' : 'plain' %>">
                                Cocina Equipada
                            </li>
                            <li class="<%= @publicacion.infantiles == true ? 'checked' : 'plain' %>">
                                Juegos Infantiles
                            </li>
                        </ul>
                    </div>

                    <h2>Map</h2>

                    <div id="mapa-propiedad"></div><!-- /#property-map -->
                </div>

            </div>
            <div class="sidebar span3">
                
                <div class="widget properties last">
    <div class="title">
        <h2>Propiedades Recientes</h2>
    </div><!-- /.title -->
    <div class="content">
<%
=begin
%>
    <% unless @ultimas.nil? %>
    <% @ultimas.each do |ultima| %>   
        <div class="property">
            <div class="image">
                <%=link_to "",ultima%>
                <%= image_tag ultima.smallImage %> 
            </div><!-- /.image -->

            <div class="wrapper">
                <div class="title">
                    <h3>
                        <%= link_to truncate(ultima.direccion, :length => 23), ultima %>
                    </h3>
                </div><!-- /.title -->
                <div class="location"><%= ultima.ciudad %></div><!-- /.location -->
                <div class="price">$<%= ultima.precio %></div><!-- /.price -->
            </div><!-- /.wrapper -->
        </div><!-- /.property -->
        <% end %>
        <% end %>
<%
=end
%>
    </div><!-- /.content -->
</div><!-- /.properties -->
            </div>
        </div>
    </div>
</div>
    </div><!-- /#content -->
</div><!-- /#wrapper-inner -->

<%            
=begin
  
rescue %>
  
end
<style>
#map-canvas {
height: 300px;
  width: 50%;    

  border: 1px solid #999;
  -moz-box-shadow:    0px 0px 5px #ccc;
  -webkit-box-shadow: 0px 0px 5px #ccc;
  box-shadow:         0px 0px 5px #ccc;
      }
    </style>
    <script>
function initialize() {
  var lat= <%= @publicacion.latitude %>;
  var log= <%= @publicacion.longitude %>;
  var myLatlng = new google.maps.LatLng(lat,log);
  var mapOptions = {
    zoom: 16,
    center: myLatlng
  }
  var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

  var marker = new google.maps.Marker({
      position: myLatlng,
      map: map,
  });
}
google.maps.event.addDomListener(window, 'load', initialize);

    </script>
<div class="column4">
  <div class="title"><%= @publicacion.titulo %></div>
  </div>
<p>
<div class="column2" style="background-color:#f3f5f6; margin-left:5px;">

          <div class="big_pic"><%= image_tag "images/big_pic.jpg", :title => "", :size => "282x212", :class => "img_big_pic"%></div>
            
            <div class="pictures_thumbs">
            <h3>Imágenes de la Propiedad:</h3>
            <% for attachment in @publicacion.attachments %>
            <a href="#"><%= image_tag attachment.file_url, :title => "", :size => "104x78", :class => "img_thumb"%></a>
              <% end %>
              </div>
              </div>

  <div class="column3">
    <div class="main_text_box">
      <h1>Descripción</h1>
      <p><%= @publicacion.descripcion %></p>
      <div class="title2">Especificaciones:</div> 
            <div class="details_list">
            <ul>
            <li><span>Valor:</span><%= @publicacion.precio %></li>
                <li><span>Región:</span><%= @publicacion.region %></li>
                <li><span>Ciudad:</span><%= @publicacion.ciudad %></li>
                <li><span>Tipo:</span><%= @publicacion.tipo %></li>
                <li><span>Piezas:</span><%= @publicacion.pieza %></li>
                <li><span>Baños:</span><%= @publicacion.bano %></li>
                <li><span>Estacionamiento:</span><%= @publicacion.estacionamiento %></li>
                <li><span>Propiedad Compartida:</span><%= @publicacion.comparte %></li>
                <li><span>Disponible Marzo a Diciembre:</span><%= @publicacion.md %></li>
            
            </ul>
            </div>    
        </div><!-- end of column three -->
    <div id='map-canvas'></div>
<% if current_user.present? %>
  <% if current_user.publicacions.find_by_id(@publicacion.id) == nil %>
     <div style="float:left;">
            <div class="button">
              <%= link_to 'Contactar', {:controller => "conversations", :action => "new", publicacion_id: @publicacion }%>
              <!-- :id => @publicacion.id  -->
            </div>
            </div>
  <% else %>
  <div class="right_buttons">
    <div class="right_button">
      <%= link_to 'Editar', edit_publicacion_path(@publicacion) %>
    </div>
  <% end %>
<%end %>
 <div class="right_button">
      <%= link_to 'Volver', :back %>
    </div>
</div>
<%
=end
%>