<!DOCTYPE html>
<html lang="en-US">

<!-- Mirrored from html.realia.byaviators.com/index-slider.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 02 Aug 2014 22:40:46 GMT -->
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Aviators - byaviators.com">
    <link rel="shortcut icon" href="assets/img/favicon.png" type="image/png">

  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag    "http://fonts.googleapis.com/css2d0f.css?family=Open+Sans:400,700,300", media: "all"%>
  <%= stylesheet_link_tag    "bootstrap", media: "all"%>
  <%= stylesheet_link_tag    "bootstrap-responsive", media: "all"%>
  <%= stylesheet_link_tag    "chosen.css", media: "all"%>
  <%= stylesheet_link_tag    "bootstrap-fileupload.css", media: "all"%>
  <%= stylesheet_link_tag    "jquery-ui-1.10.2.custom.min.css", media: "all"%>
  <%= stylesheet_link_tag    "realia-blue", media: "all"%>

  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= javascript_include_tag :defaults, "nested_form" %>
  <%= javascript_include_tag 'http://maps.googleapis.com/maps/api/js?v=3&amp;sensor=true' %>
  <%= javascript_include_tag 'jquery' %>
  <%= javascript_include_tag 'jquery.ezmark' %> 
  <%= javascript_include_tag 'jquery.currency' %>
  <%= javascript_include_tag 'jquery.cookie' %>
  <%= javascript_include_tag 'retina' %>
  <%= javascript_include_tag 'bootstrap.min' %>
  <%= javascript_include_tag 'carousel' %>
  <%= javascript_include_tag 'gmap3.min' %>
  <%= javascript_include_tag 'gmap3.infobox.min' %>
  <%= javascript_include_tag 'jquery-ui-1.10.2.custom.min' %>
  <%= javascript_include_tag 'chosen.jquery.min' %>
  <%= javascript_include_tag 'jquery.iosslider.min' %>
  <%= javascript_include_tag 'realia' %>
  <title>Propest | Propiedades Estudiantiles</title>
</head>
<div id="wrapper-outer" >
    <div id="wrapper">
        <div id="wrapper-inner">
            <!-- BREADCRUMB -->
            <div class="breadcrumb-wrapper">
                <div class="container">
                    <div class="row">
                        <div class="span12">
                            <ul class="breadcrumb pull-left">
                                <li><%= link_to "Home", root_path %></li>
                            </ul><!-- /.breadcrumb -->

                            <div class="account pull-right">
                                <ul class="nav nav-pills">
                                    <% if user_signed_in? %>
                                    <li><%= link_to "Cerrar Sesión", destroy_user_session_path, method: :delete %></li>
                                    <% else %>
                                    <li><%=link_to "Identificarse",new_user_session_path %></li>
                                    <% end %>
                                </ul>
                            </div>
                        </div><!-- /.span12 -->
                    </div><!-- /.row -->
                </div><!-- /.container -->
            </div><!-- /.breadcrumb-wrapper -->

            <!-- HEADER -->
            <div id="header-wrapper">
                <div id="header">
                    <div id="header-inner">
                        <div class="container">
                            <div class="navbar">
                                <div class="navbar-inner">
                                    <div class="row">
                                        <div class="logo-wrapper span4">
                                            <a href="#nav" class="hidden-desktop" id="btn-nav">Toggle navigation</a>

                                            <div class="logo">
                                            <%=link_to( image_tag("logo.png", :alt => "Home", :title => "Home"),root_path )%>
                                            </div><!-- /.logo -->

                                            <div class="site-name">
                                            <%=link_to "Propest",root_path, { :class=>"brand", :title=>"Home" }%>
                                            </div><!-- /.site-name -->

                                            <div class="site-slogan">
                                                <span>Publica &amp; Encuentra<br>Tu propiedad</span>
                                            </div><!-- /.site-slogan -->
                                        </div><!-- /.logo-wrapper -->

                                        <div class="info">
                                            <div class="site-email">
                                                <%= mail_to "info@propest.com" %>
                                            </div><!-- /.site-email -->

                                            <div class="site-phone">
                                                <span>+569-8158-5002</span>
                                            </div><!-- /.site-phone -->
                                        </div><!-- /.info -->
                                        <% if user_signed_in? %>
                                        <%=link_to "Publicar Nueva Propiedad",new_publicacion_path, { :class=>"btn btn-primary btn-large list-your-property arrow-right" }%>
                                        <% end %>

                                    </div><!-- /.row -->
                                </div><!-- /.navbar-inner -->
                            </div><!-- /.navbar -->
                        </div><!-- /.container -->
                    </div><!-- /#header-inner -->
                </div><!-- /#header -->
            </div><!-- /#header-wrapper -->

            <!-- NAVIGATION -->
            <div id="navigation">
                <div class="container">
                    <div class="navigation-wrapper">
                        <div class="navigation clearfix-normal">

                            <ul class="nav">
                                <li class="menuparent">
                                    <span class="menuparent nolink">Homepage</span>
                                    <ul>
                                        <li><a href="index-slider.html">Homepage with slider</a></li>
                                        <li><a href="index-2.html">Homepage with map</a></li>
                                        <li><a href="index-simple.html">Simple homepage</a></li>
                                        <li><a href="index-carousel.html">Homepage with carousel</a></li>
                                    </ul>
                                </li>
                                <% if user_signed_in? %>
                                <li><%= link_to "Gestionar Propiedades", publicacions_path %></li>
                                <% end %>
                                <li class="menuparent">
                                    <span class="menuparent nolink">Pages</span>
                                    <ul>
                                        <li><a href="about-us.html">About us</a></li>
                                        <li><a href="our-agents.html">Our agents</a></li>
                                        <li><a href="faq.html">FAQ</a></li>
                                        <li><a href="shortcodes.html">Shortcodes</a></li>
                                        <li class="menuparent">
                                            <span class="menuparent nolink">Another level</span>
                                            <ul>
                                                <li><a href="contact-us.html">Contact us</a></li>
                                                <li><a href="grid-system.html">Grid system</a></li>
                                                <li><a href="typography.html">Typography</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="404.html">404 page</a></li>
                                    </ul>
                                </li>
                                <li class="menuparent">
                                    <span class="menuparent nolink">Pricing</span>
                                    <ul>
                                        <li><a href="pricing-boxed.html">Boxed pricing</a></li>
                                        <li><a href="pricing-multiple.html">Multiple pricing</a></li>
                                        <li><a href="pricing-simple.html">Simple Pricing</a></li>
                                    </ul>
                                </li>
                                <li><a href="contact-us.html">Contact Us</a></li>
                            </ul><!-- /.nav -->

                            <div class="language-switcher">
                                <div class="current en"><a href="index.html" lang="en">English</a></div><!-- /.current -->
                                <div class="options">
                                    <ul>
                                        <li class="fr"><a href="#">Français</a></li>
                                        <li class="de"><a href="#">Deutsch</a></li>
                                    </ul>
                                </div><!-- /.options -->
                            </div><!-- /.language-switcher -->
                        </div><!-- /.navigation -->
                    </div><!-- /.navigation-wrapper -->
                </div><!-- /.container -->
            </div><!-- /.navigation -->
</div>
<%= yield %>

<div id="footer-wrapper">
    <div id="footer-top">
        <div id="footer-top-inner" class="container">
            <div class="row">
                <div class="widget properties span3">

                    <div class="title">
                        <h2>Propiedades Recientes</h2>
                    </div><!-- /.title -->

                    <div class="content">
                        <% ultimasPropiedades.each do |ultima| %>   
                        <div class="property">
                            <div class="image">
                                <%=link_to "",ultima%>
                                <%= image_tag ultima.smallImage %> 
                            </div><!-- /.image -->
                            <div class="wrapper">
                                <div class="title">
                                    <h3>
                                        <%= link_to truncate(ultima.direccion, :length => 23), ultima %>
                                    </h3>
                                </div><!-- /.title -->
                                <div class="location"><%= ultima.ciudad %></div><!-- /.location -->
                                <div class="price">$<%= ultima.precio %></div><!-- /.price -->
                            </div><!-- /.wrapper -->
                        </div><!-- /.property -->
                        <% end %>
                    </div><!-- /.content -->
                </div><!-- /.properties-small -->

                <div class="widget span3">
                    <div class="title">
                        <h2>Contact us</h2>
                    </div><!-- /.title -->

                    <div class="content">
                        <table class="contact">
                            <tbody>
                            <tr>
                                <th class="address">Address:</th>
                                <td>1900 Pico Blvd<br>Santa Monica, CA 90405<br>United States<br></td>
                            </tr>
                            <tr>
                                <th class="phone">Phone:</th>
                                <td>+48 123 456 789</td>
                            </tr>
                            <tr>
                                <th class="email">E-mail:</th>
                                <td><a href="mailto:info@yourcompany.com">info@example.com</a></td>
                            </tr>
                            <tr>
                                <th class="skype">Skype:</th>
                                <td>your.company</td>
                            </tr>
                            <tr>
                                <th class="gps">GPS:</th>
                                <td>34.016811<br>-118.469009</td>
                            </tr>
                            </tbody>
                        </table>
                    </div><!-- /.content -->
                </div><!-- /.widget -->

                <div class="widget span3">
                    <div class="title">
                        <h2 class="block-title">Useful links</h2>
                    </div><!-- /.title -->

                    <div class="content">
                        <ul class="menu nav">
                            <li class="first leaf"><a href="404.html">404 page</a></li>
                            <li class="leaf"><a href="about-us.html">About us</a></li>
                            <li class="leaf"><a href="contact-us.html">Contact us</a></li>
                            <li class="leaf"><a href="faq.html">FAQ</a></li>
                            <li class="leaf"><a href="grid-system.html">Grid system</a></li>
                            <li class="leaf"><a href="our-agents.html">Our agents</a></li>
                            <li class="last leaf"><a href="typography.html">Typography</a></li>
                        </ul>
                    </div><!-- /.content -->
                </div><!-- /.widget -->

                <div class="widget span3">
                    <div class="title">
                        <h2 class="block-title">Say hello!</h2>
                    </div><!-- /.title -->

                    <div class="content">
                        <form method="post">
                            <div class="control-group">
                                <label class="control-label" for="inputName">
                                    Name
                                    <span class="form-required" title="This field is required.">*</span>
                                </label>
                                <div class="controls">
                                    <input type="text" id="inputName">
                                </div><!-- /.controls -->
                            </div><!-- /.control-group -->

                            <div class="control-group">
                                <label class="control-label" for="inputEmail">
                                    Email
                                    <span class="form-required" title="This field is required.">*</span>
                                </label>
                                <div class="controls">
                                    <input type="text" id="inputEmail">
                                </div><!-- /.controls -->
                            </div><!-- /.control-group -->

                            <div class="control-group">
                                <label class="control-label" for="inputMessage">
                                    Message
                                    <span class="form-required" title="This field is required.">*</span>
                                </label>

                                <div class="controls">
                                    <textarea id="inputMessage"></textarea>
                                </div><!-- /.controls -->
                            </div><!-- /.control-group -->

                            <div class="form-actions">
                                <input type="submit" class="btn btn-primary arrow-right" value="Send">
                            </div><!-- /.form-actions -->
                        </form>
                    </div><!-- /.content -->
                </div><!-- /.widget -->
            </div><!-- /.row -->
        </div><!-- /#footer-top-inner -->
    </div><!-- /#footer-top -->

    <div id="footer" class="footer container">
        <div id="footer-inner">
            <div class="row">
                <div class="span6 copyright">
                    <p>© Copyright 2013 by <a href="http://themes.byaviators.com/">Aviators</a>. All rights reserved.</p>
                </div><!-- /.copyright -->

                <div class="span6 share">
                    <div class="content">
                        <ul class="menu nav">
                            <li class="first leaf"><a href="http://www.facebook.com/" class="facebook">Facebook</a></li>
                            <li class="leaf"><a href="http://flickr.net/" class="flickr">Flickr</a></li>
                            <li class="leaf"><a href="http://plus.google.com/" class="google">Google+</a></li>
                            <li class="leaf"><a href="http://www.linkedin.com/" class="linkedin">LinkedIn</a></li>
                            <li class="leaf"><a href="http://www.twitter.com/" class="twitter">Twitter</a></li>
                            <li class="last leaf"><a href="http://www.vimeo.com/" class="vimeo">Vimeo</a></li>
                        </ul>
                    </div><!-- /.content -->
                </div><!-- /.span6 -->
            </div><!-- /.row -->
        </div><!-- /#footer-inner -->
    </div><!-- /#footer -->
</div><!-- /#footer-wrapper -->
</div><!-- /#wrapper -->
</div><!-- /#wrapper-outer -->

</body>
</html>
