<!DOCTYPE html>
<html lang="en" dir="ltr"
  xmlns:content="http://purl.org/rss/1.0/modules/content/"
  xmlns:dc="http://purl.org/dc/terms/"
  xmlns:foaf="http://xmlns.com/foaf/0.1/"
  xmlns:og="http://ogp.me/ns#"
  xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#"
  xmlns:sioc="http://rdfs.org/sioc/ns#"
  xmlns:sioct="http://rdfs.org/sioc/types#"
  xmlns:skos="http://www.w3.org/2004/02/skos/core#"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema#">

<!-- Mirrored from drupal.realia.byaviators.com/homepage-1 by HTTrack Website Copier/3.x [XR&CO'2013], Sat, 21 Jun 2014 02:59:29 GMT -->
<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=utf-8" /><!-- /Added by HTTrack -->
<head profile="http://www.w3.org/1999/xhtml/vocab">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="Generator" content="Drupal 7 (http://drupal.org)" />
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag    "css_ogjvJnfni1_P_WxvXAHlUOgCs860b3ip9DNMapcIGeM", media: "all"%>
  <%= stylesheet_link_tag    "css_w23rgETFjUHq1gd117lEHQatahmpatAivN42jj_vEV4", media: "all"%>
  <%= stylesheet_link_tag    "css_i-ySGGLOrIkKkxu0jg38F0ueVWggO-TIFxtzp8d2bo4", media: "all"%>
  <%= stylesheet_link_tag    "css_085UVmjQaSjpWZ3j5ssrLKewaxRzstyQgGbEwZePqqs", media: "all"%>
  <%= stylesheet_link_tag    "css_-u90bixdsUvvHgBOFdxrmoGkJR9L8rMmwINMZB5hbco", media: "all"%>
  <%= stylesheet_link_tag    "css_Kx81BZBeQ1rFaaf6uQej19eGgC1ar0AWF3KtJ62Yv9c", media: "all"%>
  <%= stylesheet_link_tag    "http://fonts.googleapis.com/css?family=Roboto:300,300italic,500,500italic,700,700italic,900,900italic,italic,regular|Roboto+Condensed:300,300italic|Open+Sans:300,600,regular&amp;subset=cyrillic,latin", media: "all"%>
   <%= javascript_include_tag :defaults, "nested_form" %>
   <%= javascript_include_tag 'js_0gj6QcpfRH2jzTbCQqf7kEkm4MXY0UA_sRhwPc8jC1o' %>
   <%= javascript_include_tag 'js_tuU0_RRqq8d6wd4FM5PbLOxhhaCHDQ0cps-STzJkhB8' %>
   <%= javascript_include_tag 'js_IHtCmwXWY7Cj1NO8M3A-gWsPFIZV0w264hDwuSDpgKk' %>
   <%= javascript_include_tag '//maps.googleapis.com/maps/api/js?sensor=false' %>
   <%= javascript_include_tag 'js_v_6n5dqaonEIAxpAROdDkOmoRgawINMWk4himEkENLU' %>

  <title>Propest | Propiedades Estudiantiles</title>
<script>var _gaq = _gaq || [];_gaq.push(["_setAccount", "UA-39841036-1"]);_gaq.push(["_trackPageview"]);(function() {var ga = document.createElement("script");ga.type = "text/javascript";ga.async = true;ga.src = ("https:" == document.location.protocol ? "https://ssl" : "http://www") + ".google-analytics.com/ga.js";var s = document.getElementsByTagName("script")[0];s.parentNode.insertBefore(ga, s);})();</script>
<script src="sites/default/files/js/js_TOZilYTsd6L6-SFlMyJHF-_6tXWS6OIGvKY_ePYvtvg.js"></script>
<script src="sites/default/files/js/js_29ACcW6rqXfvDwLSSEap1C73P-Vks_whUG_xZOQslqI.js"></script>
<script>jQuery.extend(Drupal.settings, {"basePath":"\/","pathPrefix":"","ajaxPageState":{"theme":"realia","theme_token":"GNrnHfSzMpEyQrnYuyss2N2oI1fn-wv1jQ3JFmbC9Gg","js":{"sites\/all\/modules\/jquery_update\/replace\/jquery\/1.7\/jquery.min.js":1,"misc\/jquery.once.js":1,"misc\/drupal.js":1,"sites\/all\/modules\/jquery_update\/replace\/ui\/ui\/minified\/jquery.ui.core.min.js":1,"sites\/all\/modules\/jquery_update\/replace\/ui\/ui\/minified\/jquery.ui.widget.min.js":1,"sites\/all\/modules\/jquery_update\/replace\/ui\/external\/jquery.cookie.js":1,"sites\/all\/modules\/jquery_update\/replace\/misc\/jquery.form.min.js":1,"sites\/all\/modules\/jquery_update\/replace\/ui\/ui\/minified\/jquery.ui.mouse.min.js":1,"sites\/all\/modules\/jquery_update\/replace\/ui\/ui\/minified\/jquery.ui.slider.min.js":1,"misc\/ajax.js":1,"sites\/all\/themes\/bootstrap\/js\/progress.js":1,"sites\/all\/libraries\/colorbox\/jquery.colorbox-min.js":1,"sites\/all\/modules\/colorbox\/js\/colorbox.js":1,"sites\/all\/modules\/colorbox\/js\/colorbox_load.js":1,"sites\/all\/modules\/colorbox\/js\/colorbox_inline.js":1,"\/\/maps.googleapis.com\/maps\/api\/js?sensor=false":1,"sites\/all\/modules\/google_map_field\/js\/google_map_field_node_display.js":1,"sites\/all\/modules\/views_slideshow\/js\/views_slideshow.js":1,"sites\/all\/libraries\/jquery.cycle\/jquery.cycle.all.js":1,"sites\/all\/modules\/views_slideshow\/contrib\/views_slideshow_cycle\/js\/views_slideshow_cycle.js":1,"sites\/all\/modules\/jcarousel\/js\/jquery.jcarousel.min.js":1,"sites\/all\/modules\/jcarousel\/js\/jcarousel.js":1,"sites\/all\/modules\/google_analytics\/googleanalytics.js":1,"0":1,"sites\/all\/modules\/webform\/js\/webform.js":1,"sites\/all\/libraries\/superfish\/superfish.js":1,"sites\/all\/libraries\/superfish\/supersubs.js":1,"sites\/all\/modules\/superfish\/superfish.js":1,"sites\/default\/themes\/realia\/js\/jquery.currency.js":1,"sites\/default\/themes\/realia\/js\/jquery.ezmark.js":1,"sites\/default\/themes\/realia\/js\/retina.js":1,"sites\/default\/themes\/realia\/libraries\/chosen\/chosen\/chosen.jquery.min.js":1,"sites\/default\/themes\/realia\/js\/realia.js":1},"css":{"modules\/system\/system.base.css":1,"misc\/ui\/jquery.ui.core.css":1,"misc\/ui\/jquery.ui.theme.css":1,"misc\/ui\/jquery.ui.slider.css":1,"sites\/all\/modules\/simplenews\/simplenews.css":1,"modules\/field\/theme\/field.css":1,"sites\/all\/modules\/views\/css\/views.css":1,"sites\/all\/libraries\/colorbox\/example1\/colorbox.css":1,"sites\/all\/modules\/ctools\/css\/ctools.css":1,"sites\/all\/modules\/views_slideshow\/views_slideshow.css":1,"sites\/all\/modules\/views_slideshow\/contrib\/views_slideshow_cycle\/views_slideshow_cycle.css":1,"sites\/all\/modules\/jcarousel\/skins\/tango\/jcarousel-tango.css":1,"sites\/all\/modules\/aviator_pallete\/css\/aviators_palette.css":1,"sites\/default\/themes\/realia\/css\/realia-blue.css":1,"sites\/all\/modules\/webform\/css\/webform.css":1,"sites\/all\/libraries\/superfish\/css\/superfish.css":1,"sites\/all\/libraries\/superfish\/style\/default.css":1,"sites\/default\/themes\/realia\/css\/bootstrap.css":1,"sites\/default\/themes\/realia\/css\/bootstrap-responsive.css":1,"sites\/default\/themes\/realia\/css\/jcarousel.css":1,"sites\/default\/themes\/realia\/libraries\/chosen\/chosen\/chosen.css":1,"sites\/default\/themes\/realia\/css\/style.css":1,"sites\/default\/files\/fontyourface\/font.css":1,"http:\/\/fonts.googleapis.com\/css?family=Roboto:300,300italic,500,500italic,700,700italic,900,900italic,italic,regular|Roboto+Condensed:300,300italic|Open+Sans:300,600,regular\u0026subset=cyrillic,latin":1}},"colorbox":{"opacity":"0.85","current":"{current} of {total}","previous":"\u00ab Prev","next":"Next \u00bb","close":"Close","maxWidth":"98%","maxHeight":"98%","fixed":true},"jcarousel":{"ajaxPath":"\/jcarousel\/ajax\/views","carousels":{"jcarousel-dom-1":{"view_options":{"view_args":"","view_path":"homepage-1","view_base_path":"apartments","view_display_id":"carousel","view_name":"apartments","jcarousel_dom_id":1},"skin":"tango","scroll":1,"autoPause":1,"start":1,"selector":".jcarousel-dom-1"}}},"viewsSlideshow":{"frontpage_slider-block":{"methods":{"goToSlide":["viewsSlideshowPager","viewsSlideshowSlideCounter","viewsSlideshowCycle"],"nextSlide":["viewsSlideshowPager","viewsSlideshowSlideCounter","viewsSlideshowCycle"],"pause":["viewsSlideshowControls","viewsSlideshowCycle"],"play":["viewsSlideshowControls","viewsSlideshowCycle"],"previousSlide":["viewsSlideshowPager","viewsSlideshowSlideCounter","viewsSlideshowCycle"],"transitionBegin":["viewsSlideshowPager","viewsSlideshowSlideCounter"],"transitionEnd":[]},"paused":0}},"viewsSlideshowPager":{"frontpage_slider-block":{"bottom":{"type":"viewsSlideshowPagerFields"}}},"viewsSlideshowPagerFields":{"frontpage_slider-block":{"bottom":{"activatePauseOnHover":1}}},"viewsSlideshowCycle":{"#views_slideshow_cycle_main_frontpage_slider-block":{"num_divs":3,"id_prefix":"#views_slideshow_cycle_main_","div_prefix":"#views_slideshow_cycle_div_","vss_id":"frontpage_slider-block","effect":"fade","transition_advanced":0,"timeout":5000,"speed":700,"delay":0,"sync":1,"random":0,"pause":1,"pause_on_click":0,"action_advanced":0,"start_paused":0,"remember_slide":0,"remember_slide_days":1,"pause_when_hidden":0,"pause_when_hidden_type":"full","amount_allowed_visible":"","nowrap":0,"fixed_height":1,"items_per_slide":1,"wait_for_image_load":1,"wait_for_image_load_timeout":3000,"cleartype":0,"cleartypenobg":0,"advanced_options":"{}"}},"ajax":{"edit-header-simple":{"wrapper":"aviators-css-inject","method":"html","callback":"aviators_palette_ajax_form","event":"change","url":"\/system\/ajax","submit":{"_triggering_element_name":"header"}},"edit-header-normal":{"wrapper":"aviators-css-inject","method":"html","callback":"aviators_palette_ajax_form","event":"change","url":"\/system\/ajax","submit":{"_triggering_element_name":"header"}},"edit-header-dark":{"wrapper":"aviators-css-inject","method":"html","callback":"aviators_palette_ajax_form","event":"change","url":"\/system\/ajax","submit":{"_triggering_element_name":"header"}},"edit-background-cloth-alike":{"wrapper":"aviators-css-inject","method":"html","callback":"aviators_palette_ajax_form","event":"change","url":"\/system\/ajax","submit":{"_triggering_element_name":"background"}},"edit-background-corrugation":{"wrapper":"aviators-css-inject","method":"html","callback":"aviators_palette_ajax_form","event":"change","url":"\/system\/ajax","submit":{"_triggering_element_name":"background"}},"edit-background-diagonal-noise":{"wrapper":"aviators-css-inject","method":"html","callback":"aviators_palette_ajax_form","event":"change","url":"\/system\/ajax","submit":{"_triggering_element_name":"background"}},"edit-background-dust":{"wrapper":"aviators-css-inject","method":"html","callback":"aviators_palette_ajax_form","event":"change","url":"\/system\/ajax","submit":{"_triggering_element_name":"background"}},"edit-background-fabric-plaid":{"wrapper":"aviators-css-inject","method":"html","callback":"aviators_palette_ajax_form","event":"change","url":"\/system\/ajax","submit":{"_triggering_element_name":"background"}},"edit-background-farmer":{"wrapper":"aviators-css-inject","method":"html","callback":"aviators_palette_ajax_form","event":"change","url":"\/system\/ajax","submit":{"_triggering_element_name":"background"}},"edit-background-grid-noise":{"wrapper":"aviators-css-inject","method":"html","callback":"aviators_palette_ajax_form","event":"change","url":"\/system\/ajax","submit":{"_triggering_element_name":"background"}},"edit-background-lghtmesh":{"wrapper":"aviators-css-inject","method":"html","callback":"aviators_palette_ajax_form","event":"change","url":"\/system\/ajax","submit":{"_triggering_element_name":"background"}},"edit-background-pw-maze-white":{"wrapper":"aviators-css-inject","method":"html","callback":"aviators_palette_ajax_form","event":"change","url":"\/system\/ajax","submit":{"_triggering_element_name":"background"}},"edit-background-none":{"wrapper":"aviators-css-inject","method":"html","callback":"aviators_palette_ajax_form","event":"change","url":"\/system\/ajax","submit":{"_triggering_element_name":"background"}},"edit-color-realia-blue":{"wrapper":"aviators-css-inject","method":"html","callback":"aviators_palette_ajax_form","event":"change","url":"\/system\/ajax","submit":{"_triggering_element_name":"color"}},"edit-color-realia-turquiose":{"wrapper":"aviators-css-inject","method":"html","callback":"aviators_palette_ajax_form","event":"change","url":"\/system\/ajax","submit":{"_triggering_element_name":"color"}},"edit-color-realia-orange":{"wrapper":"aviators-css-inject","method":"html","callback":"aviators_palette_ajax_form","event":"change","url":"\/system\/ajax","submit":{"_triggering_element_name":"color"}},"edit-color-realia-violet":{"wrapper":"aviators-css-inject","method":"html","callback":"aviators_palette_ajax_form","event":"change","url":"\/system\/ajax","submit":{"_triggering_element_name":"color"}},"edit-color-realia-green":{"wrapper":"aviators-css-inject","method":"html","callback":"aviators_palette_ajax_form","event":"change","url":"\/system\/ajax","submit":{"_triggering_element_name":"color"}},"edit-color-realia-gray-blue":{"wrapper":"aviators-css-inject","method":"html","callback":"aviators_palette_ajax_form","event":"change","url":"\/system\/ajax","submit":{"_triggering_element_name":"color"}},"edit-color-realia-gray-turquiose":{"wrapper":"aviators-css-inject","method":"html","callback":"aviators_palette_ajax_form","event":"change","url":"\/system\/ajax","submit":{"_triggering_element_name":"color"}},"edit-color-realia-gray-orange":{"wrapper":"aviators-css-inject","method":"html","callback":"aviators_palette_ajax_form","event":"change","url":"\/system\/ajax","submit":{"_triggering_element_name":"color"}},"edit-color-realia-gray-violet":{"wrapper":"aviators-css-inject","method":"html","callback":"aviators_palette_ajax_form","event":"change","url":"\/system\/ajax","submit":{"_triggering_element_name":"color"}},"edit-color-realia-gray-green":{"wrapper":"aviators-css-inject","method":"html","callback":"aviators_palette_ajax_form","event":"change","url":"\/system\/ajax","submit":{"_triggering_element_name":"color"}},"edit-color-realia-red":{"wrapper":"aviators-css-inject","method":"html","callback":"aviators_palette_ajax_form","event":"change","url":"\/system\/ajax","submit":{"_triggering_element_name":"color"}},"edit-color-realia-magenta":{"wrapper":"aviators-css-inject","method":"html","callback":"aviators_palette_ajax_form","event":"change","url":"\/system\/ajax","submit":{"_triggering_element_name":"color"}},"edit-color-realia-green-light":{"wrapper":"aviators-css-inject","method":"html","callback":"aviators_palette_ajax_form","event":"change","url":"\/system\/ajax","submit":{"_triggering_element_name":"color"}},"edit-color-realia-brown":{"wrapper":"aviators-css-inject","method":"html","callback":"aviators_palette_ajax_form","event":"change","url":"\/system\/ajax","submit":{"_triggering_element_name":"color"}},"edit-color-realia-brown-dark":{"wrapper":"aviators-css-inject","method":"html","callback":"aviators_palette_ajax_form","event":"change","url":"\/system\/ajax","submit":{"_triggering_element_name":"color"}},"edit-color-realia-gray-red":{"wrapper":"aviators-css-inject","method":"html","callback":"aviators_palette_ajax_form","event":"change","url":"\/system\/ajax","submit":{"_triggering_element_name":"color"}},"edit-color-realia-gray-magenta":{"wrapper":"aviators-css-inject","method":"html","callback":"aviators_palette_ajax_form","event":"change","url":"\/system\/ajax","submit":{"_triggering_element_name":"color"}},"edit-color-realia-gray-green-light":{"wrapper":"aviators-css-inject","method":"html","callback":"aviators_palette_ajax_form","event":"change","url":"\/system\/ajax","submit":{"_triggering_element_name":"color"}},"edit-color-realia-gray-brown":{"wrapper":"aviators-css-inject","method":"html","callback":"aviators_palette_ajax_form","event":"change","url":"\/system\/ajax","submit":{"_triggering_element_name":"color"}},"edit-color-realia-gray-brown-dark":{"wrapper":"aviators-css-inject","method":"html","callback":"aviators_palette_ajax_form","event":"change","url":"\/system\/ajax","submit":{"_triggering_element_name":"color"}},"edit-reset":{"wrapper":"aviators-css-inject","method":"html","callback":"aviators_palette_ajax_form_reset","event":"mousedown","keypress":true,"prevent":"click","url":"\/system\/ajax","submit":{"_triggering_element_name":"op","_triggering_element_value":"Reset"}}},"googleanalytics":{"trackOutbound":1,"trackMailto":1,"trackDownload":1,"trackDownloadExtensions":"7z|aac|arc|arj|asf|asx|avi|bin|csv|doc|exe|flv|gif|gz|gzip|hqx|jar|jpe?g|js|mp(2|3|4|e?g)|mov(ie)?|msi|msp|pdf|phps|png|ppt|qtm?|ra(m|r)?|sea|sit|tar|tgz|torrent|txt|wav|wma|wmv|wpd|xls|xml|z|zip"},"superfish":{"2":{"id":"2","sf":{"delay":"400","animation":{"opacity":"show","height":"show"},"speed":"\u0027fast\u0027","autoArrows":false,"dropShadows":true,"disableHI":false},"plugins":{"supposition":false,"bgiframe":false,"supersubs":{"minWidth":"12","maxWidth":"27","extraWidth":1}}}},"theme":{"currency":null,"prefix":false}});</script>
</head>
<body class="html not-front not-logged-in no-sidebars page-homepage-1 i18n-en" >
  <div id="skip-link">
    <a href="#main-content" class="element-invisible element-focusable">Saltar al contenido principal</a>
  </div>
      <div id="wrapper-outer" class="no-triptych">
<div id="wrapper">
<div id="wrapper-inner">
            <div class="breadcrumb-wrapper">
            <div class="container">
                <div class="row">
                    <div class="span12">
                        <ul class="breadcrumb"><li><%= link_to 'Home', root_url %></li></ul>                    </div>
                </div><!-- /.row -->
            </div><!-- /.container -->
        </div><!-- /.breadcrumb-wrapper -->
    
    <div id="header-wrapper">
        <div id="header">
            <div id="header-inner">
                <div class="container">
                    <div class="navbar">
                        <div class="navbar-inner">
                            <div class="row">
                                <div class="span4">
                                    <a href="#nav" class="hidden-desktop" id="btn-nav">Toggle navigation</a>

                                                                            <div class="logo">
                                            <a href="index.html" title="Home">
                                                <%= image_tag "logo.png", :alt => "Home" %>
                                            </a>
                                        </div><!-- /.logo -->
                                    
                                                                            <div class="site-name">
                                            <a href="index.html" title="Home" class="brand">
                                                Propest                                            </a>
                                        </div><!-- /.site-name -->
                                    
                                                                          <div class="site-slogan">
                                          <span>Busca tus propiedades<br>de manera sencilla</span>
                                      </div><!-- /.site-slogan -->
                                                                    </div>

                                                                    <div class="span3 pull-right">
                                          <div class="region region-header-right">
    <div id="block-search-form" class="block block-search site-search">
  <div class="title">
              </div><!-- /.title -->

  <div class="content">
    <form class="form-search content-search" action="http://drupal.realia.byaviators.com/homepage-1" method="post" id="search-block-form" accept-charset="UTF-8"><div><div class="container-inline">
      <h2 class="element-invisible">Search form</h2>
    <div class="input-append"><input title="Enter the terms you wish to search for." class="search-query span2 form-text" placeholder="Search" type="text" id="edit-search-block-form--2" name="search_block_form" value="" size="15" maxlength="128" /><button type="submit" class="btn"><i class="icon-search"></i><span class="element-invisible">Search</span></button></div><button class="element-invisible btn btn-primary form-submit" id="edit-submit" name="op" value="Search" type="submit">Search</button>
<input type="hidden" name="form_build_id" value="form-ADUzPpAXmkyGHRbiivwCRsMJoyxDnrmN-aAJ0reijmg" />
<input type="hidden" name="form_id" value="search_block_form" />
</div>
</div></form>  </div><!-- /.content --> 
</div><!-- /.block -->
  </div>
                                    </div>
                                
                                                                    <div class="span5">
                                          <div class="region region-header-middle">
    <div id="block-realia-blocks-header-contact" class="block block-realia-blocks">
  <div class="title">
              </div><!-- /.title -->

  <div class="content">
    
<div class="info">
          <div class="site-email">
          <a href="mailto:contacto@propest.com">contacto@propest.com</a>
      </div>
        <!-- /.site-email -->
          <div class="site-phone">
          <span>333-666-777</span>
      </div>
        <!-- /.site-phone -->
</div>  </div><!-- /.content --> 
</div><!-- /.block -->
  </div>
                                    </div>
                                                            </div>

                        </div>
                        <!-- /.navbar-inner -->
                    </div>
                    <!-- /.navbar -->
                </div>
                <!-- /.container -->
            </div>
            <!-- /#header-inner -->
        </div>
        <!-- /#header -->
    </div>
    <!-- /#header-wrapper -->

    <div id="navigation">
        <div class="container">
                        <div class="navigation-wrapper">
                <div class="navigation clearfix">
                      <div class="region region-navigation">
    <div id="block-superfish-2" class="block block-superfish">
  <div class="title">
              </div><!-- /.title -->

  <div class="content">
    <ul id="superfish-2" class="menu sf-menu sf-main-menu sf-horizontal sf-style-default sf-total-items-5 sf-parent-items-4 sf-single-items-1"><li id="menu-218-2" class="active-trail first odd sf-item-1 sf-depth-1 sf-total-children-3 sf-parent-children-0 sf-single-children-3 menuparent"><span class="sf-depth-1 menuparent nolink">Homepage</span><ul><li id="menu-793-2" class="active-trail first odd sf-item-1 sf-depth-2 sf-no-children"><a href="homepage-1.html" class="sf-depth-2 active">Homepage with slider</a></li><li id="menu-807-2" class="middle even sf-item-2 sf-depth-2 sf-no-children"><a href="index.html" class="sf-depth-2">Homepage with map</a></li><li id="menu-901-2" class="last odd sf-item-3 sf-depth-2 sf-no-children"><a href="homepage-2.html" class="sf-depth-2">Simple homepage</a></li></ul></li><li id="menu-574-2" class="middle even sf-item-2 sf-depth-1 sf-total-children-4 sf-parent-children-0 sf-single-children-4 menuparent"><span class="sf-depth-1 menuparent nolink">Listing</span><ul><li id="menu-598-2" class="first odd sf-item-1 sf-depth-2 sf-no-children"><a href="listing.html" class="sf-depth-2">Listing grid</a></li><li id="menu-898-2" class="middle even sf-item-2 sf-depth-2 sf-no-children"><a href="list-grid-filter.html" class="sf-depth-2">Listing grid with filter</a></li><li id="menu-597-2" class="middle odd sf-item-3 sf-depth-2 sf-no-children"><a href="listing-rows.html" class="sf-depth-2">Listing rows</a></li><li id="menu-899-2" class="last even sf-item-4 sf-depth-2 sf-no-children"><a href="list-row-filter.html" class="sf-depth-2">Listing rows with filter</a></li></ul></li><li id="menu-615-2" class="middle odd sf-item-3 sf-depth-1 sf-total-children-6 sf-parent-children-1 sf-single-children-5 menuparent"><span class="sf-depth-1 menuparent nolink">Pages</span><ul><li id="menu-617-2" class="first odd sf-item-1 sf-depth-2 sf-no-children"><a href="pages/about-us.html" class="sf-depth-2">About us</a></li><li id="menu-619-2" class="middle even sf-item-2 sf-depth-2 sf-no-children"><a href="pages/our-agents.html" class="sf-depth-2">Our agents</a></li><li id="menu-631-2" class="middle odd sf-item-3 sf-depth-2 sf-no-children"><a href="faq-page.html" class="sf-depth-2">FAQ</a></li><li id="menu-991-2" class="middle even sf-item-4 sf-depth-2 sf-total-children-3 sf-parent-children-0 sf-single-children-3 menuparent"><span class="sf-depth-2 menuparent nolink">Another level</span><ul><li id="menu-632-2" class="first odd sf-item-1 sf-depth-3 sf-no-children"><a href="contact-us.html" class="sf-depth-3">Contact us</a></li><li id="menu-805-2" class="middle even sf-item-2 sf-depth-3 sf-no-children"><a href="pages/grid-system.html" class="sf-depth-3">Grid system</a></li><li id="menu-806-2" class="last odd sf-item-3 sf-depth-3 sf-no-children"><a href="pages/typography.html" class="sf-depth-3">Typography</a></li></ul></li><li id="menu-638-2" class="middle odd sf-item-5 sf-depth-2 sf-no-children"><a href="http://realia.byaviators.com/404" class="sf-depth-2">404 page</a></li><li id="menu-913-2" class="last even sf-item-6 sf-depth-2 sf-no-children"><a href="pages/gallery.html" class="sf-depth-2">Gallery</a></li></ul></li><li id="menu-559-2" class="middle even sf-item-4 sf-depth-1 sf-total-children-10 sf-parent-children-0 sf-single-children-10 menuparent"><span class="sf-depth-1 menuparent nolink">Documentation</span><ul><li id="menu-984-2" class="first odd sf-item-1 sf-depth-2 sf-no-children"><a href="documentation/system-requirements.html" class="sf-depth-2">System requirements</a></li><li id="menu-990-2" class="middle even sf-item-2 sf-depth-2 sf-no-children"><a href="documentation/module-requirements.html" class="sf-depth-2">Module requirements</a></li><li id="menu-606-2" class="middle odd sf-item-3 sf-depth-2 sf-no-children"><a href="documentation/installation.html" class="sf-depth-2">Installation</a></li><li id="menu-610-2" class="middle even sf-item-4 sf-depth-2 sf-no-children"><a href="documentation/slideshow-configuration.html" class="sf-depth-2">Slider configuration</a></li><li id="menu-609-2" class="middle odd sf-item-5 sf-depth-2 sf-no-children"><a href="documentation/how-to-set-up-map.html" class="sf-depth-2">How to set up map</a></li><li id="menu-612-2" class="middle even sf-item-6 sf-depth-2 sf-no-children"><a href="documentation/setting-up-carousel.html" class="sf-depth-2">Setting up carousel</a></li><li id="menu-607-2" class="middle odd sf-item-7 sf-depth-2 sf-no-children"><a href="documentation/property-management.html" class="sf-depth-2">Property management</a></li><li id="menu-608-2" class="middle even sf-item-8 sf-depth-2 sf-no-children"><a href="documentation/how-to-add-agents.html" class="sf-depth-2">How to add agents</a></li><li id="menu-613-2" class="middle odd sf-item-9 sf-depth-2 sf-no-children"><a href="documentation/contact-us-page.html" class="sf-depth-2">Contact us page</a></li><li id="menu-993-2" class="last even sf-item-10 sf-depth-2 sf-no-children"><a href="documentation/our-team-block.html" class="sf-depth-2">Our team block</a></li></ul></li><li id="menu-614-2" class="last odd sf-item-5 sf-depth-1 sf-no-children"><a href="contact-us.html" class="sf-depth-1">Contact Us</a></li></ul>  </div><!-- /.content --> 
</div><!-- /.block -->
<div id="block-realia-blocks-realia-language" class="block block-realia-blocks">
  <div class="title">
              </div><!-- /.title -->

  <div class="content">
    
<div class="default">
  <div class="current">
    <ul><li class="en first last active"><a href="homepage-1.html" class="language-link active" lang="en">English</a></li>
</ul>  </div><!-- /.current -->

  <div class="expand">
    <ul><li class="fr first"><a href="fr/homepage-1.html" class="language-link" lang="fr">Français</a></li>
<li class="de last"><a href="de/homepage-1.html" class="language-link" lang="de">Deutsch</a></li>
</ul>  </div><!-- /.expand -->
</div><!-- /.default -->
  </div><!-- /.content --> 
</div><!-- /.block -->
  </div>
                </div>
                <!-- /.navigation -->
            </div><!-- /.navigation-wrapper -->
                    </div>
    </div>
    <div id="map">
        <div class="container" style="position: relative;">
            <div class="row">
                <div class="span3">
                                    </div>
            </div>
        </div>
            </div>
<%= yield %>


<div id="footer-wrapper">
    <div id="footer-top">
        <div id="footer-top-inner" class="container">
            <div class="row">
                                <div class="span3" role="complementary">
                      <div class="region region-bottom-quadruple-first">
    <div id="block-block-2" class="block block-block">
  <div class="title">
              <h2 class="block-title">About Realia</h2>
          </div><!-- /.title -->

  <div class="content">
    <p>Realia is super responsive, retina ready, Drupal based Real Estate and Rental theme. Make your website unique thanks to modern flat, modern and clean design.</p>
<p>Easy installation package will set-up everything for you, so you can build your rental or real estate portal in couple of minutes. Demo content is also included so you are ready-to-go.</p>
  </div><!-- /.content --> 
</div><!-- /.block -->
  </div>
                </div><!-- /.span3 -->
                
                                <div class="sidebar span3" role="complementary">
                      <div class="region region-bottom-quadruple-second">
    <div id="block-block-3" class="block block-block">
  <div class="title">
              <h2 class="block-title">Contact us</h2>
          </div><!-- /.title -->

  <div class="content">
    <table class="contact">
<tr>
<th class="address">Address:</th>
<td>1900 Pico Blvd<br>Santa Monica, CA 90405<br>United States<br></td>
</tr>
<tr>
<th class="phone">Phone:</th>
<td>+48 123 456 789</td>
</tr>
<tr>
<th class="email">E-mail:</th>
<td><a href="mailto:info@yourcompany.com">info@example.com</a></td>
</tr>
<tr>
<th class="skype">Skype:</th>
<td>your.company</td>
</tr>
<tr>
<th class="gps">GPS:</th>
<td>34.016811<br>-118.469009</td>
</tr>
</table>
  </div><!-- /.content --> 
</div><!-- /.block -->
  </div>
                </div><!-- /.span3 -->
                
                                <div class="span3" role="complementary">
                      <div class="region region-bottom-quadruple-third">
    <div id="block-menu-menu-usefull-links" class="block block-menu">
  <div class="title">
              <h2 class="block-title">Useful links</h2>
          </div><!-- /.title -->

  <div class="content">
    <ul class="menu nav"><li class="first leaf"><a href="http://realia.pragmaticmates.com/404">404 page</a></li>
<li class="leaf"><a href="pages/about-us.html">About us</a></li>
<li class="leaf"><a href="contact-us.html">Contact us</a></li>
<li class="leaf"><a href="faq-page.html">FAQ</a></li>
<li class="leaf"><a href="pages/grid-system.html">Grid system</a></li>
<li class="leaf"><a href="pages/our-agents.html">Our agents</a></li>
<li class="last leaf"><a href="pages/typography.html">Typography</a></li>
</ul>  </div><!-- /.content --> 
</div><!-- /.block -->
  </div>
                </div><!-- /.span3 -->
                
                                <div class="span3" role="complementary">
                      <div class="region region-bottom-quadruple-last">
    <div id="block-realia-blocks-contact-webform" class="block block-realia-blocks">
  <div class="title">
              <h2 class="block-title">Say hello!</h2>
          </div><!-- /.title -->

  <div class="content">
    <div id="node-9" class="node node-webform node-promoted clearfix" about="/content/say-hello" typeof="sioc:Item foaf:Document">
  


        <div class="content">

    <form class="webform-client-form" enctype="multipart/form-data" action="http://drupal.realia.byaviators.com/homepage-1" method="post" id="webform-client-form-9" accept-charset="UTF-8"><div><div class="form-item webform-component webform-component-textfield" id="webform-component-name">
  <label for="edit-submitted-name" class="control-label">Name <span class="form-required" title="This field is required.">*</span></label>
 <input type="text" id="edit-submitted-name" name="submitted[name]" value="" size="60" maxlength="128" class="form-text required" />
</div>
<div class="form-item webform-component webform-component-email" id="webform-component-email">
  <label for="edit-submitted-email" class="control-label">Email <span class="form-required" title="This field is required.">*</span></label>
 <input class="email form-text form-email required" type="email" id="edit-submitted-email" name="submitted[email]" size="60" />
</div>
<div class="form-item webform-component webform-component-textarea" id="webform-component-your-message">
  <label for="edit-submitted-your-message" class="control-label">Your message <span class="form-required" title="This field is required.">*</span></label>
 <div class="form-textarea-wrapper"><textarea id="edit-submitted-your-message" name="submitted[your_message]" cols="60" rows="5" class="form-textarea required"></textarea></div>
</div>
<input type="hidden" name="details[sid]" value="" />
<input type="hidden" name="details[page_num]" value="1" />
<input type="hidden" name="details[page_count]" value="1" />
<input type="hidden" name="details[finished]" value="0" />
<input type="hidden" name="form_build_id" value="form-ZsPKAeEbwXiAiCtk1i5LM2zUOQOFKgC76jqLw7FgrvQ" />
<input type="hidden" name="form_id" value="webform_client_form_9" />
<button class="btn btn-primary form-submit" id="edit-submit--2" name="op" value="Submit" type="submit">Submit</button>
</div></form>  </div>
</div>
  </div><!-- /.content --> 
</div><!-- /.block -->
  </div>
                </div><!-- /.span3 -->
                            </div>
        </div>
        <!-- /#footer-top-inner -->
    </div>
    <!-- /#footer-top -->

    <div id="footer" class="footer container">
        <div id="footer-inner">
            <div class="row">
                <div class="span6 copyright">
                      <div class="region region-footer">
    <div id="block-block-1" class="block block-block">
  <div class="title">
              </div><!-- /.title -->

  <div class="content">
    <p>© Copyright 2013 by <a href="http://themes.byaviators.com/">Aviators</a>. All rights reserved.</p>
  </div><!-- /.content --> 
</div><!-- /.block -->
<div id="aviators-css-inject">
<%= stylesheet_link_tag    "realia-blue", media: "all", scoped: "scoped"%>
<link type="text/css" rel="stylesheet" href="sites/default/themes/realia/css/realia-blue.css" media="all" scoped="scoped" />
<script>jQuery("body").addClass("header-dark"); jQuery("body").addClass("none"); jQuery("body").addClass("blue");</script></div>  </div>
                </div>
                <!-- /.span6 -->

                <div class="span6 share">
                      <div class="region region-footer-secondary">
    <div id="block-menu-menu-share" class="block block-menu">
  <div class="title">
              </div><!-- /.title -->

  <div class="content">
    <ul class="menu nav"><li class="first leaf"><a href="http://www.facebook.com/" class="facebook">Facebook</a></li>
<li class="leaf"><a href="http://flickr.net/" class="flickr">Flickr</a></li>
<li class="leaf"><a href="http://plus.google.com/" class="google">Google+</a></li>
<li class="leaf"><a href="http://www.linkedin.com/" class="linkedin">LinkedIn</a></li>
<li class="leaf"><a href="http://www.twitter.com/" class="twitter">Twitter</a></li>
<li class="last leaf"><a href="http://www.vimeo.com/" class="vimeo">Vimeo</a></li>
</ul>  </div><!-- /.content --> 
</div><!-- /.block -->
  </div>
                </div>
                <!-- /.span6 -->
            </div>
        </div>
        <!-- /#footer-inner -->
    </div>
    <!-- /#footer -->
</div>
<!-- /#footer-wrapper -->
</div>

</body>
</html>
